<%- include('partials/header', {isLoggedIn: isLoggedIn}); -%>
<form action="/newPassword" method="post">
    <label for="newPassword"></label>
    <input type="password" name="newPassword">
    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
    <button type="submit">Reset</button>
</form>
<%- include('partials/footer'); -%>
